.App {
  text-align: center;
}

.App-header {
  background-color: #00695c;
  /* min-height: 70px; */
  padding: 20px;
  color: white;
}

/* .App-title {
  font-size: 1.5em;
} */

/* .App-intro {
  font-size: large;
} */

.myInputs {
  margin-bottom: 10px;
  width: 100px;
}

.myLists {
  padding: 0px;
}